#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------
CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------
app.baseURL = 'http://localhost/polinela-agro/public/'
app.indexPage = ''
app.forceGlobalSecureRequests = false
app.sessionDriver = 'CodeIgniter\Session\Handlers\FileHandler'
app.sessionCookieName = 'ci_session'
app.sessionExpiration = 7200
app.sessionSavePath = null
app.sessionMatchIP = false
app.sessionTimeToUpdate = 300
app.sessionRegenerateDestroy = false
app.appTimezone = 'Asia/Jakarta'
app.defaultLocale = 'id'

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------
database.default.hostname = 127.0.0.1
database.default.database = polinela_agro
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.DBPrefix = 
database.default.port = 3306
database.default.charset = utf8mb4
database.default.DBCollat = utf8mb4_unicode_ci

#--------------------------------------------------------------------
# LOGGER
#--------------------------------------------------------------------
logger.threshold = 4

#--------------------------------------------------------------------
# MIDTRANS (Sandbox)
#--------------------------------------------------------------------
# midtrans.serverKey = 'YOUR_MIDTRANS_SERVER_KEY'
# midtrans.clientKey = 'YOUR_MIDTRANS_CLIENT_KEY'
# midtrans.isProduction = false

#--------------------------------------------------------------------
# XENDIT (Sandbox)
#--------------------------------------------------------------------
# xendit.apiKey = 'YOUR_XENDIT_API_KEY'
# xendit.callbackToken = 'YOUR_XENDIT_CALLBACK_TOKEN'
