<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect ke folder public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Disable directory listing
Options -Indexes

# Deny access to hidden files
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Deny access to sensitive files
<FilesMatch "\.(env|md|json|xml|yml|yaml|lock|log|dist)$">
    Order allow,deny
    Deny from all
</FilesMatch>
