<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="system/Test/bootstrap.php"
         backupGlobals="false"
         beStrictAboutOutputDuringTests="true"
         colors="true"
         columns="max"
         failOnRisky="true"
         failOnWarning="true"
         stopOnError="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache">
    <coverage>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/logs/html"/>
            <php outputFile="build/logs/coverage.serialized"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="App">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <testdoxHtml outputFile="build/logs/testdox.html"/>
        <testdoxText outputFile="build/logs/testdox.txt"/>
        <junit outputFile="build/logs/logfile.xml"/>
    </logging>
    <php>
        <server name="app.baseURL" value="http://localhost/polinela-agro/public/"/>
        <server name="CI_ENVIRONMENT" value="testing"/>
        <!-- Directory path to the rules file for the test runner -->
        <env name="XDEBUG_MODE" value="coverage"/>
    </php>
</phpunit>
